body {
  background-color: #f6c751;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
}

h1 {
  padding: 5px;
}

h2 {
  font-size: 14px;
}
p {
  font-size: 24px;

}
.App-logo{
  padding-bottom: 50px;
  padding-top: 50px;

}

/* Login Form Styles */
.login-form {
  max-width: 225px;
  text-align: center;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: black
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #f6c751;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: darkorange;
}

