/* getRecipe.css */
.recipe-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #f4f985;
    background-color: #f9f9f9;
  }
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    gap: 20px;
  }
  .recipe-item {
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items:center;
    margin-bottom: 20px;
  }
  .recipe-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .recipe-details {
    color: #333;
    margin-bottom: 5px;
    flex: 1;
    padding-right: 20px;
  }
  
  .recipe-image {
    width: 250px;
    height: auto;
    border-radius: 4px;
  }
  
  .recipe-ings{
    color: black;
    flex: 1;

  }

  .recipe-likes{
    color: black;
    text-align: left;
    font-size: 20px
  }