.navbar {
    display: flex; 
    width: 85%;
    margin: auto;
    padding: 35px 0;
    justify-content: space-between;

}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    margin: 0 10px;
    cursor: pointer;
}

.navbar a{
    text-decoration:none;
    color: white;
}