nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#f6c751;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0,0,0, 0.6)
}

#navbar{
    display: flex; 
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}

#navbar li a:hover{
    color: #f6c751;
}

#navbar li a:hover::after,
#navbar li a:active::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: orangered;
    position: absolute;
    bottom: -4px;
    left: 20px;
}